@(message: String)
@main("Welcome to Play"){
    <div class="row" id="main" style="border:1px solid #ddd;padding:10px;">
        <div class="span12">
            <div class="row">
                <div class="span6">
                    Hello
                </div>
                <div class="span6">
                     <h3>Dang ki ngay</h3>
                        <table>
                            <tr>
                                <td>Email</td>
                            </tr>
                            <tr>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                            </tr>
                            <tr>
                                <td><input type="password"></td>
                            </tr>
                            <tr>
                                <td><button class="btn">Sign Up</button></td>
                            </tr>
                        </table>   
                </div>
            </div>
        </div>
    </div>
}
